{% extends 'base.html' %}

{% block title %} cards {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum adipisci voluptatum molestias iure aliquam magni
    officiis tempora, quia minima vero odit distinctio perspiciatis tenetur. Error libero impedit optio neque ducimus!
</p>

<br><br><br>
<div class="row">

    {% if hotels %}
        {% for hotel in hotels %}
            <div class="col-6 pt-4">
                <div class="card " style="max-width: 500px;">
        
                    <div class="row g-0">
        
                        <div class="col-sm-5" style="background: #868e96;">
                            <img src="media/{{hotel.imagen}}" class="card-img-top h-100" alt="...">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <h5 class="card-title">{{hotel.nombre}}</h5>
                                <p class="card-text">
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                                        </svg>
                                        4 Days</p>
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-people-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            <path fill-rule="evenodd"
                                                d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                        </svg> 2 Adults</p> 
                                    <p style="font-size: 200%">{{hotel.precio}}</p>
        
                                </p>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">★</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">★</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">★</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">★</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">★</label>
                                </p>
        
        
                                <a href="#" class="btn btn-primary stretched-link">Calificar</a>
                            </div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}