{% extends 'base.html' %}
{% block body %}
<h2>hospedaje</h2>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_hotel' %}" role="button">Crear</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Puntaje</th>
                    <th>Actiones</th>
                </tr>
            </thead>
            <tbody>
                {% if hotels %}
                    {% for hotel in hotels %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ hotel.imagen }}</td>
                            <td>{{ hotel.nombre }}</td>
                            <td>{{ hotel.precio }}</td>
                            <td>{{ hotel.puntaje }}</td>

                            <td> <a name="" id="" class="btn btn-info" href="{% url 'editar_hotel' hotel.id %}" role="button">Editar</a>| 
                            <a name="" id="" class="btn btn-danger" href="{% url 'borrar_hotel' hotel.id %}" role="button">Borrar</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                
            </tbody>
        </table>
        
    </div>
</div>
{% endblock %}