{% extends 'index/base.html' %}
{% block body %}
<h1>Este es el perfil</h1> <br><br>

<div class="container">
    <div class="main-body">
        <!-- /Breadcrumb -->
        {% if user %}
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="media/{{user.picture}}" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ request.user.first_name }}</h4>
                                <p class="text-secondary mb-1">Software programmer</p>
                                <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.user.first_name}} {{user.user.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.user.email}}
                                
                            </div>
                            
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Télefono</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.telefono}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha nacimiento</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.fecha_nacimiento}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.lugar_recidencia}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop2">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            

        </div>
        {% endif %}
    </div>

    <!-- Modal foto -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Subir imagen de perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="mb-3">
                            
                            <label for="formFile" class="form-label">Imagen</label>
                            <input class="form-control" value="{{ user.picture }}" type="file" name="picture" id="picture" required>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Telefono</label>
                            <input class="form-control" type="number" value="{{ user.telefono }}" name="telefono" id="telefono" required>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Fecha nacimiento</label>
                            <input class="form-control" type="date" value="{{ user.fecha_nacimiento }}" name="fecha_nacimiento" id="fecha_nacimiento" required>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Dirección</label>
                            <input class="form-control" type="text" value="{{ user.lugar_recidencia }}" name="lugar_recidencia" id="lugar_recidencia" required>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal user -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'editar_user' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Nombre</label>
                            <input class="form-control" type="text" value="{{ user.user.first_name }}" placeholder=""name="first_name" id="first_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Apellidos</label>
                            <input class="form-control" type="text" value="{{ user.user.last_name }}" name="last_name" id="last_name" required>
                        </div>
                      

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


    {% endblock %}